@model GigHub.ViewModels.GigDetailsViewModel
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 id="details">
    @Model.Gig.Artist.Name
    @if (Model.IsAuthenticated)
    {
        <button data-artist-id="@Model.Gig.ArtistId" class="btn @(Model.IsFollowing ? "btn-info" : "btn-default") btn-sm js-toggle-follow">
            @(Model.IsFollowing ? "Following" : "Follow?")
        </button>
    }
</h2>

<p>
    Performing at @Model.Gig.Venue on @Model.Gig.DateTime.ToString("d MMM yyyy") at @Model.Gig.DateTime.ToString("HH:mm")
</p>
@if (Model.IsAuthenticated && Model.IsAttending)
{
    <p>You are going to this event.</p>
}

@section scripts
{
    <script>
        $(document).ready(function () {
            GigDetailsController.init("#details");
        });
    </script>
}




